@model MusicWS.Models.Album
@{    
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <article class="boxRSL">
        <div class="alignR">@Html.ActionLink("Trở về","Index")</div>
        <h2 class="border-Bottom">@ViewBag.Message</h2>
        <fieldset class="border-Bottom">
            <legend>&nbsp;</legend>
            @Html.HiddenFor(Model=>Model.AlbumId)
            <div class="editor-label">
                @Html.LabelFor(model=> model.TenAlbum)              
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model=>model.TenAlbum)
                @*
                @Html.ValidationMessageFor(model=>model.TenCaSy)*@
                 @Html.ValidationMessageFor(model=>model.TenAlbum,"*")
            </div>

            <div class="editor-label">
                @Html.LabelFor(model=> model.NgayPhatHanh)              
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model=>model.NgayPhatHanh)                
                @Html.ValidationMessageFor(model=>model.NgayPhatHanh,"*")
            </div>

            <div class="editor-label">
                @Html.LabelFor(model=> model.GiaBan)              
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model=>model.GiaBan)                
                @Html.ValidationMessageFor(model=>model.GiaBan,"*")
            </div>

            <div class="editor-label">
                @Html.LabelFor(model=>model.GioiThieu)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model=>model.GioiThieu, rows:4,columns:10,htmlAttributes:new{@style="width:550px;"})
            </div>

             <div class="editor-label">
                @Html.LabelFor(model=> model.AnhBia)              
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model=>model.AnhBia)                
                @Html.ValidationMessageFor(model=>model.AnhBia,"*")
            </div>

        </fieldset>
        <footer class="alignR">
            <input type="submit" value="Cập nhật" />
            @Html.ValidationSummary(false)
         </footer>
    </article>
}
