@model IEnumerable<MusicWS.Models.BaiHat>

@{   
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<article class="boxRSL">
    <h2 class="borderBOrangeRed">@ViewBag.Message</h2>
    <p>
        @Html.ActionLink("Thêm Bài Hát","Create",null,new {@style="text-decorat:underline; margin-left:20px"})
    </p>
    <div class="title">
        <div class="alignR">@Html.DisplayNameFor(m=>m.TenBaiHat)</div>
        <div class="alignL">Chức năng xử lý</div>
    </div>
    <ul id="list1">
        @foreach (var e in Model)
	{
		 <li>
             <div class="alignR">
                 @Html.DisplayFor(m=>e.TenBaiHat)
             </div>
             <div class="alignL">
                 @Html.ActionLink("Hiệu chỉnh","Edit",new {id=e.BaiHatId}),
                 @Html.ActionLink("Chi tiết","Detail",new {id=e.BaiHatId}),
                 @Html.ActionLink("Hủy","Delete",new {id=e.BaiHatId})
             </div>
		 </li>
	}
    </ul>
</article>